*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
header{
    background-color: rgb(3, 3, 14);
    height: 100px;
    width: auto;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 5px 100px  rgb(67, 21, 172);
}
header h1{
    margin-left: 20px;
    font-size: 3rem;
}
header ul{
    margin-right: 150px;
    display: flex;
    
}
header li{
    margin-right: 20px;
    list-style: none;
}
header li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 50px;
}
header li a:hover{
background-color: blueviolet;
font-weight: 700;
padding: 10px;
border-radius: 5%;
transition:  0.3s;
}