* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}

body {
    background-color: rgb(6, 3, 17);
}

header {
    background-color: rgb(3, 3, 14);
    height: 100px;
    width: auto;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 1px 100px rgb(1, 158, 233);
}

header h1 {
    margin-left: 20px;
    font-size: 3rem;
    font-weight: normal;
    padding: 20px;
}

header ul {
    margin-right: 150px;
    display: flex;

}

header li {
    margin-right: 20px;
    list-style: none;
}

header li a {
    color: aliceblue;
    border: solid 1px aliceblue;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 50px;


}

header li a:hover {
    background-color: rgb(1, 158, 233);
    border: solid 1px rgb(1, 158, 233);
    font-weight: 700;
    padding: 10px;
    border-radius: 5%;
    transition: 0.5s;


}


.hero{
    display: flex;
    margin: 200px 100px;
    align-items: center;
    gap: 30px;
    color: white;
    background-color: rgb(13, 2, 24);
}
.hero img{
    height: 400px;
    border-radius: 5%;
}
.hero h2{
    font-size: 2rem;
}
.hero p{
    font-size: 1.5rem;
    color: lightgray;
}
.present{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}





















footer{
    height: 100px;
    background-color: black;
}
footer{
    box-shadow: 10px -3px 100px rgb(1, 158, 233)
}